<div class="container-fluid">
    <div class="row">
        <app-languaje></app-languaje>
    </div>
    <div class="row main-title">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="mb-0">Kevin A. Maldonado Delgado</h1>
            <h4> 
                <a class="a-space" href="tel:+573142980620" target="_blank">(+57) 3142980620</a>
                - <a href="mailto:kevin_maldonado19@outlook.com" target="_blank">kevin_maldonado19&#64;outlook.com</a></h4>
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>
                {{ 'ABOUT_PARAGRAPH_1' | translate }}
            </p>
            <p>
                {{ 'ABOUT_PARAGRAPH_2' | translate }}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <a href="https://www.linkedin.com/in/kevin-maldonado-delgado" target="_blank">
                <i class="bi bi-linkedin fs-1"></i>
            </a>
            <a href="https://github.com/kevinmaldonado96" target="_blank">
                <i class="bi bi-github fs-1" style="margin-left: 2%"></i>
            </a>
        </div>
    </div>
</div>