h1,h2,h3,h4,h5,h6 {
    font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40
}

.main-title {
    margin-top: 10%   
}

h1 {
    font-size: 5rem;
    line-height: 5.5rem;
}

p {
    text-align: justify;
}

i {
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

a:hover i {
    color: #396CF7;
}

a:hover {
    color: #2c98f0;
}

@media (max-width: 767px) {

    .main-title {
        margin-top: 10%;
    }
}
