<div class="container">
    <div class="row" class="margin-title">
      <div class="d-flex align-items-left">
          <i class="bi bi-pc-display fs-1"></i>
          <h1 class="education-title">Experiencia Laboral</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="content">
          <ul class="timeline">
            <li class="event">
              <h1 style="font-weight: bold;">Pasante Desarrollador</h1>
              <p style="font-weight: bold; font-size: 19px;">Conexia S.A.</p>
              <h2>12/18/2017 - 06/17/2018</h2>
              <p style="text-align: justify;">Diseño, implementación y soporte de aplicaciones bajo tecnologías
                JavaServer Faces, JPA, Primefaces, Maven, Spring Framework, JSP,
                Angular 2, herramientas de versionamiento como Gitlab, manejo de base
                de datos postgresql.</p>
            </li>
            <li class="event">
                <h1 style="font-weight: bold;">Analista desarrollador Trainee</h1>
                <p style="font-weight: bold; font-size: 19px;">Conexia S.A.</p>
                <h2>06/18/2018 - 01/08/2019</h2>
                <p style="text-align: justify;">Diseño, implementación y soporte de aplicaciones bajo tecnologías
                    JavaServer Faces, JPA, Primefaces, Maven, Spring Framework, JSP,
                    ngular 2, manejo de diferentes ambientes de desarrolla, pruebas y
                    productivos, manejo de herramientas de integración continua como .</p>
            </li>
            <li class="event">
                <h1 style="font-weight: bold;">Desarrollador de software</h1>
                <p style="font-weight: bold; font-size: 19px;">Smartsoft S.A</p>
                <h2>01/08/2019 - 23/08/2020 </h2>
                <p style="text-align: justify;">Diseño, implementación y soporte de aplicaciones bajo tecnologías
                    JavaServer Faces, JPA, Primefaces, Maven, Spring Framework, JSP,
                    ngular 2, manejo de diferentes ambientes de desarrolla, pruebas y
                    productivos, manejo de herramientas de integración continua como Gitlab.</p>
            </li>
            <li class="event">
                <h1 style="font-weight: bold;">Desarrollador de software</h1>
                <p style="font-weight: bold; font-size: 19px;">Ayesa Advanced Technologies</p>
                <h2>24/08/2020 - Presente</h2>
                <p style="text-align: justify;">Diseño, implementación de aplicaciones bajo tecnologías Angular, Maven,
                    Spring Framework, manejo de diferentes ambientes de desarrollaro,
                    manejo de herramientas de versionamiento como Gitlab, diseño de
                    aplicaciones en Node js con contenedores Kubernates, diseño de
                    aplicaciones dentro de aplicación Salesforce Sandbox, creación de
                    componentes lightning, class Apex, desencadanadores de Apex, manejo
                    de roles, consumo y exposición de servicios REST y SOAP.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  