<div class="container">
  <div class="row">
    <app-languaje></app-languaje>
  </div>
  <div class="row" class="margin-title">
    <div class="d-flex align-items-left">
      <i class="bi bi-pc-display fs-1"></i>
      <h1 class="education-title">{{ "WORK_EXPERIENCE" | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="content">
        <ul class="timeline">
          <li class="event">
            <h1 style="font-weight: bold">
              {{ "AYESA_TITLE_EXPERIENCE" | translate }}
            </h1>
            <h1 style="font-weight: bold; font-size: 19px">
              Ayesa Advanced Technologies
            </h1>
            <h2>24/08/2020 - {{ "PRESENT" | translate }}</h2>
            <p style="text-align: justify">
              {{ "AYESA_EXPRERIENCE_DESCRIPTION" | translate }}
            </p>
          </li>
          <li class="event">
            <h1 style="font-weight: bold">
              {{ "SMARTSOFT_TITLE_EXPERIENCE" | translate }}
            </h1>
            <h1 style="font-weight: bold; font-size: 19px">Smartsoft S.A</h1>
            <h2>01/08/2019 - 23/08/2020</h2>
            <p style="text-align: justify">
              {{ "SMARTSOFT_EXPRERIENCE_DESCRIPTION" | translate }}
            </p>
          </li>
          <li class="event">
            <h1 style="font-weight: bold">
              {{ "CONEXIA_TRAINEE_TITLE_EXPERIENCE" | translate }}
            </h1>
            <h1 style="font-weight: bold; font-size: 19px">Conexia S.A.</h1>
            <h2>06/18/2018 - 01/08/2019</h2>
            <p style="text-align: justify">
              {{ "CONEXIA_TRAINEE_TITLE_DESCRIPTION" | translate }}
            </p>
          </li>
          <li class="event">
            <h1 style="font-weight: bold">
              {{ "CONEXIA_INTERN_TITLE_EXPERIENCE" | translate }}
            </h1>
            <h1 style="font-weight: bold; font-size: 19px">Conexia S.A.</h1>
            <h2>12/18/2017 - 06/17/2018</h2>
            <p style="text-align: justify">
              {{ "CONEXIA_INTERN_TITLE_DESCRIPTION" | translate }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
