h1,h2,h3,h4,h5,h6 {
    font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40
}

.main-title {
    margin-top: 15%
}

@media (max-width: 767px) {

    .margin-title {
        margin-top: 25%;
    }
}

h1 {
    font-size: 5rem;
    line-height: 5.5rem;
}

p {
    text-align: justify;
}

a {
    transition: 0.5s;
    text-decoration: none;
    font-size: 18px;
    font-family: "Saira Extra Condensed", serif;
    font-weight: 700;
    font-size: 25px;
    color: black;
}

a:hover {
    color: #2c98f0;
}


.a-space {
    margin-left: 3%;
}