<div class="container-fluid">
    <div class="row">
        <app-languaje></app-languaje>
    </div>
    <div class="row margin-title">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="mb-0">Habilidades</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="mb-0">Lenguajes de programación, Librerias y Frameworks</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-wrap" style="margin-top: 2%">
            <i class="devicon-java-plain-wordmark colored icons"></i>
            <i class="devicon-spring-original-wordmark colored icons"></i>
            <i class="devicon-maven-plain-wordmark colored icons"></i>
            <i class="devicon-javascript-plain colored icons"></i>
            <i class="devicon-typescript-plain colored icons"></i>
            <i class="devicon-angular-plain icons"></i>
            <i class="devicon-nodejs-plain-wordmark colored icons"></i>
            <i class="devicon-npm-original-wordmark colored icons"></i>
            <i class="devicon-python-plain-wordmark colored icons"></i>
            <i class="devicon-flask-original-wordmark colored icons"></i>
            <i class="devicon-salesforce-plain colored icons"></i>
            <i class="devicon-docker-plain-wordmark colored icons"></i>
            <i class="devicon-kubernetes-plain-wordmark colored icons"></i>
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled">
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i> Experiencia en el manejo de herramientas como Git y Bitbucket para la colaboración en equipo, seguimiento de cambios en el código</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>Desarrollo de aplicaciones Java, uso avanzado de herramientas como Maven, Hibernate, Spring Boot y JPA</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>Implementación de proyectos backend utilizando Node js con el framework Express para la creación de APIs robustas y servicios web</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>Construcción de aplicaciones dinámicas y SPA usando Angular junto con Boostrapt y Angular Material orientado a la mejora continua</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>Manejo de lenguaje Python, usando frameworks como Flask y bibliotecas de Google Cloud Platform, Pytest, SQLAlchemy además, experiencia con SendGrid para envíos de correos y WeasyPrint para generación de reportes y manejo de archivos</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>Desarrollo y versionamiento en Salesforce, experiencia con Apex Classes, Aura Components, Visualforce Pages, Triggers y más, dentro de entornos Sandbox</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>Dominio de  Docker, Docker Compose, y Kubernetes para el despliegue y administración de aplicaciones modernas</li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 1%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="mb-0">Habilidades Blandas</h3>
        </div>  
    </div>
    <div class="row" style="margin-top:2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled">
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>Trabajo en equipo</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>Capacidad para motivar y guiar equipos hacia el éxito</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>Compromiso con altos estándares de integridad y responsabilidad</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>Resolución estratégica y eficiente de problemas</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>Innovación constante a la hora de proponer soluciones</li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 1%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="mb-0">Idiomas</h3>
        </div>  
    </div>
    <div class="row" style="margin-top:2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled">
                <li class="text-font"><i class="bi bi-check-circle-fill"></i>Español<span class="fi fi-co" style="margin-left: 1%"></span></li> 
                <li class="text-font"><i class="bi bi-check-circle-fill"></i>Ingles<span class="fi fi-gb" style="margin-left: 1%"></span></li>
            </ul>
        </div>
    </div>
</div>