<div class="container-fluid">
    <div class="row">
        <app-languaje></app-languaje>
    </div>
    <div class="row margin-title">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h1 class="mb-0">{{ 'SKILLS' | translate }}</h1>
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="mb-0">{{ 'LANGUAGES_LIBRARIES_FRAMEWORKS' | translate }}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-wrap" style="margin-top: 2%">
            <i class="devicon-java-plain-wordmark colored icons"></i>
            <i class="devicon-spring-original-wordmark colored icons"></i>
            <i class="devicon-maven-plain-wordmark colored icons"></i>
            <i class="devicon-javascript-plain colored icons"></i>
            <i class="devicon-typescript-plain colored icons"></i>
            <i class="devicon-angular-plain icons"></i>
            <i class="devicon-nodejs-plain-wordmark colored icons"></i>
            <i class="devicon-npm-original-wordmark colored icons"></i>
            <i class="devicon-python-plain-wordmark colored icons"></i>
            <i class="devicon-flask-original-wordmark colored icons"></i>
            <i class="devicon-salesforce-plain colored icons"></i>
            <i class="devicon-docker-plain-wordmark colored icons"></i>
            <i class="devicon-kubernetes-plain-wordmark colored icons"></i>
        </div>
    </div>
    <div class="row" style="margin-top: 2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled">
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>{{ 'EXPERIENCE_GIT_BITBUCKET' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>{{ 'JAVA_DEVELOPMENT' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>{{ 'BACKEND_PROJECTS_NODEJS' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>{{ 'SPA_DEVELOPMENT_ANGULAR' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>{{ 'PYTHON_FLASK_GCP' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>{{ 'SALESFORCE_DEVELOPMENT' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill"></i>{{ 'DOCKER_KUBERNETES' | translate }}</li>

            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 1%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="mb-0">{{ 'SOFT_SKILLS' | translate }}</h3>
        </div>  
    </div>
    <div class="row" style="margin-top:2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled">
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>{{ 'TEAMWORK' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>{{ 'LEADERSHIP' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>{{ 'INTEGRITY_COMMITMENT' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>{{ 'PROBLEM_SOLVING' | translate }}</li>
                <li class="justify text-font"><i class="bi bi-check-circle-fill justify"></i>{{ 'INNOVATION' | translate }}</li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 1%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="mb-0">{{ 'LANGUAGES' | translate }}</h3>
        </div>  
    </div>
    <div class="row" style="margin-top:2%">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="list-unstyled">
                <li class="text-font"><i class="bi bi-check-circle-fill"></i>{{ 'SPANISH_MIN' | translate }}<span class="fi fi-co" style="margin-left: 1%"></span></li> 
                <li class="text-font"><i class="bi bi-check-circle-fill"></i>{{ 'ENGLISH_MIN' | translate }}<span class="fi fi-gb" style="margin-left: 1%"></span></li>
            </ul>
        </div>
    </div>
</div>