h1,h2,h3,h4,h5,h6 {
    font-family: 'Saira Extra Condensed',serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40
}

h1 {
    font-size: 4rem;
    line-height: 5.5rem;
}

p {
    text-align: justify;
}

.icons {
    font-size: 60px;
    margin-right: 1.8%;
}

.workflow {
    font-family: Arial, sans-serif;
    color: #707070;
  }
  
  .workflow h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .list-unstyled li {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .list-unstyled i {
    margin-right: 10px;
    font-size: 1.2rem;
    color: #396CF7;
  }

  @media (max-width: 767px) {
    .icons {
        padding: 5px;
    }
  }