<div class="container-fluid" style="margin-bottom: 2%">
  <div class="row">
    <app-languaje></app-languaje>
  </div>
  <div class="row margin-title">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="mb-0">{{ 'PORTFOLIO' | translate }}</h1>
    </div>
  </div>
  <div class="row" style="margin-top: 2%">
    <div
      class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center margin-card"
    >
      <div class="card position-relative" style="width: 18rem">
        <img
          src="assets/images/imagen-portafolio-flight-offers-management.png"
          class="card-img-top img-portafolio"
          alt="flight-offers-management"
        />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          (click)="
            redirectToUrl(
              'https://github.com/kevinmaldonado96/flight-offers-management'
            )
          "
        >
          <i class="bi bi-eye-fill fs-1" style="color: white"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ 'FLIGHT_OFFER_MANAGER_TITLE' | translate }}</h5>
          <p class="card-text justify">
            {{ 'FLIGHT_OFFER_MANAGER' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center margin-card"
    >
      <div class="card position-relative" style="width: 18rem">
        <img
          src="assets/images/imagen-portafolio-async-file-processor.png"
          class="card-img-top img-portafolio"
          alt="flight-offers-management"
        />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          (click)="
            redirectToUrl(
              'https://github.com/kevinmaldonado96/async-file-processor'
            )
          "
        >
          <i class="bi bi-eye-fill fs-1" style="color: white"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ 'ASYNCHRONOUS_FILE_PROCESSOR_TITLE' | translate }}</h5>
          <p class="card-text justify">
            {{ 'ASYNCHRONOUS_FILE_PROCESSOR' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center margin-card"
    >
      <div class="card position-relative" style="width: 18rem">
        <img
          src="assets/images/imagen-portafolio-cinepedia.png"
          class="card-img-top img-portafolio"
          alt="flight-offers-management"
        />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          (click)="
            redirectToUrl('https://github.com/kevinmaldonado96/CINEPEDIA')
          "
        >
          <i class="bi bi-eye-fill fs-1" style="color: white"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Cinepedia</h5>
          <p class="card-text justify">
            {{ 'ANGULAR_INFORMATION_EXPLORER' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2%">
    <div
      class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center margin-card">
      <div class="card position-relative" style="width: 18rem">
        <img
          src="assets/images/imagen-portafolio-MISO-proyecto-back.png"
          class="card-img-top img-portafolio"
          alt="flight-offers-management"
        />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          (click)="
            redirectToUrl('https://github.com/kevinmaldonado96/MISO-Proyecto')
          "
        >
          <i class="bi bi-eye-fill fs-1" style="color: white"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Abcall (Web)</h5>
          <p class="card-text justify">
            {{ 'AI_COMPLAINT_MANAGEMENT' | translate }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="col-lg-4 col-md-12 col-sm-12 d-flex justify-content-center margin-card"
    >
      <div class="card position-relative" style="width: 18rem">
        <img
          src="assets/images/imagen-portafilio-MISO-proyecto-web.png"
          class="card-img-top img-portafolio"
          alt="flight-offers-management"
        />
        <div
          class="overlay d-flex justify-content-center align-items-center"
          (click)="
            redirectToUrl(
              'https://github.com/kevinmaldonado96/MISO-Proyecto-Web'
            )
          "
        >
          <i class="bi bi-eye-fill fs-1" style="color: white"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">Abcall (Backend)</h5>

          <p class="card-text justify">
            {{ 'MICROSERVICES_COMPLAINT_MANAGEMENT' | translate }}            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
