<div class="container">
  <div class="row">
    <app-languaje></app-languaje>
</div>
  <div class="row" class="margin-title">
    <div class="d-flex align-items-left" style="width: 4%;">
        <i class="bi bi-mortarboard-fill fs-1"></i>
        <h1 class="education-title">{{ 'EDUCATION' | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="content">
        <ul class="timeline">
          <li class="event">
            <h1 style="font-weight: bold;">{{ 'MASTER_IN_SOFTWARE_ENGINEERING' | translate }}</h1>
            <h2 style="font-weight: bold;">Universidad de los Andes</h2>
            <h3>2023 - 2024</h3>
            <h3>Bogotá DC</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">{{ 'ENGLISH_LEVEL_B2_1' | translate }}</h1>
            <h2 style="font-weight: bold;">American School Way</h2>
            <h3>2019 - 2021</h3>
            <h3>Bogotá DC</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">{{ 'SYSTEMS_ENGINEERING' | translate }}</h1>
            <h2 style="font-weight: bold;">Universidad Piloto de Colombia</h2>
            <h3>2013 - 2018</h3>
            <h3>Bogotá DC</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-left">
        <i class="bi bi-laptop-fill fs-1"></i>
        <h1 class="education-title">{{ 'ONLINE_COURSES' | translate }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="content">
        <ul class="timeline">
          <li class="event">
            <h1 style="font-weight: bold;">{{ 'NODE_FROM_ZERO_TO_EXPERT' | translate }}</h1>
            <h2 style="font-weight: bold;">Udemy</h2>
            <h3>2021</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">{{ 'JAVA_ENTERPRISE_EDITION' | translate }}</h1>
            <h2 style="font-weight: bold;">Udemy</h2>
            <h3>2020</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">{{ 'ANGULAR_FROM_ZERO_TO_EXPERT' | translate }}</h1>
            <h2 style="font-weight: bold;">Udemy</h2>
            <h3>2020</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">{{ 'SPRING_FRAMEWORK_CREATING_WEBAPPS_FROM_ZERO_TO_EXPERT' | translate }}</h1>
            <h2 style="font-weight: bold;">Udemy</h2>
            <h3>2020</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
