<div class="container">
  <div class="row">
    <div class="d-flex align-items-left" style="width: 4%;">
        <i class="bi bi-mortarboard-fill fs-1"></i>
        <h1 class="education-title">Educación</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="content">
        <ul class="timeline">
          <li class="event">
            <h1 style="font-weight: bold;">Ingenieria de Sistemas</h1>
            <h2 style="font-weight: bold;">Universidad Piloto de Colombia</h2>
            <h3>2013 - 2018</h3>
            <h3>Bogotá DC</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">Nivel B2.1 en ingles</h1>
            <h2 style="font-weight: bold;">American School Way</h2>
            <h3>2019 - 2021</h3>
            <h3>Bogotá DC</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">Maestria en Ingenieria de Software</h1>
            <h2 style="font-weight: bold;">Universidad de los Andes</h2>
            <h3>2023 - 2024</h3>
            <h3>Bogotá DC</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="d-flex align-items-left">
        <i class="bi bi-laptop-fill fs-1"></i>
        <h1 class="education-title">Cursos en linea</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div id="content">
        <ul class="timeline">
          <li class="event">
            <h1 style="font-weight: bold;">Java Enterprise Edition</h1>
            <h2 style="font-weight: bold;">Udemy</h2>
            <h3>2020</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">Angular de cero a experto</h1>
            <h2 style="font-weight: bold;">Udemy</h2>
            <h3>2020</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">Spring Framework: creando webapp de cero a experto </h1>
            <h2 style="font-weight: bold;">Udemy</h2>
            <h3>2020</h3>
          </li>
          <li class="event">
            <h1 style="font-weight: bold;">Node: De cero a experto</h1>
            <h2 style="font-weight: bold;">Udemy</h2>
            <h3>2021</h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
